.estiloacercade{       
    background-image: url(./img/acercade.jpg);          
    font-size: 220%;
    color: rgb(85, 219, 219);
    font-family: Arial, Helvetica, sans-serif;           
    padding:26rem;      
    text-align: center; 
}