
.fondomarca{
    background-image: url(./img/fondomarca3.jpg);
    background-size: cover;
    padding: 20%;    
}

.fondoproductos{
    background-image: url(./img/productos.jpg);
    background-size: cover;
    width: 50%;
    padding: 15%;    
}
.fondoservicios{
    background-image: url(./img/servicios.jpg);
    background-size: cover;
    width: 50%;
    padding: 15%;
}
.fondofertas{
    background-image: url(./img/perifericos.jpg);
    background-size: cover;   
    width: 100%;
    
}

.carousel {
    width:75%;    
    left:12%;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


/*/////////////////////////////////////////////////*/